
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact Us</h1>

<address>

    ACME Corporation
    1123 Fictional St,
    Toronto, Ontario E1E 2M2
    P: (123) 456-7890

</address>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2949023.421531724!2d-81.99752922849643!3d43.79557006497712!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4cb53882dd375%3A0xe48abdb1a40e984f!2striOS%20College%20Business%20Technology%20Healthcare%20-%20Toronto%20Campus!5e0!3m2!1sen!2sca!4v1707793239683!5m2!1sen!2sca"
width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

